@import url("./global.css");

@font-face {
  font-family: "UncialAntiqua-Regular";
  src: url("./assets/fonts/UncialAntiqua-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #242424;
  color: #f8fafc;
  font-family: "UncialAntiqua-Regular", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
